*{
    margin: 0;
    padding: 0;
}


.site{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}


.imagem_fundo{

    background-image: url(../material_do_site/img/hero_slider_bg_1.png);
    height: 1000px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.imagem_fundo header{
  
    display: flex;
    flex-flow: row wrap;
    height: 95px;
    background: transparent;
    color: #fff;
    backdrop-filter: blur(10px);
    border-bottom: 3px solid #ffffff3a ;
  


}

.imagem_fundo header .site{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagem_fundo header nav ul{
    display: flex;
    flex-flow:  row wrap;
    

}

.imagem_fundo header nav ul li a{
    color: white;
    margin-right: 40px;
    font-size: 16pt;
    font-weight: 500;
}



.imagem_fundo header .telefone{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.imagem_fundo header .circulo_um {
    height: 60px;
    border-radius: 50%;
    background: #F43B22;
    width: 60px;
    border: 5px solid #923625;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem_fundo header .circulo_um  .fa-solid {
font-size: 26px;

}

.imagem_fundo header .telefone .numero h2{
    margin-left: 20px;
    font-weight: 900;
    font-size: 19pt;
}


.local{
    padding-top: 50px;
}


.local .site  .container_local{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


 .local .site .camadas{
height: 60px;
width: 60px;
border-radius: 50%;
background-color: #822112;
display: flex;
justify-content: center;
align-items: center;
}
.local .site .camadas img{
    z-index: 999;
}

.local .site .camadas::before,  .local .site .camadas::after{

    content: "";
    position: absolute;
    border-radius: 50%;
}

.local .site .camadas::before{
    width: 80px;
    height: 80px;
    background: rgba(192, 57, 43, 0.4); /* Cor da camada externa */
}

.local .site .camadas::after{


    width: 100px;
    height: 100px;
    background: rgba(192, 57, 43, 0.2); /* Cor da segunda camada */



}

.local .site div .fa-regular{

    font-size: 22pt;
    color: white;
    z-index: 999;
}




.local .site  .container_local .texto_email_local_data h2{
    color: white;
    font-size: 17pt;
}
